<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--    Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--    stylesheet   -->
    <link rel="stylesheet" href="/css/style.css">

    <title>Express</title>
</head>
<body class="auth-img">
<a href="/" class="d-inline-block"><h1 class="goBack" >< Home</h1></a>
<div class="container">
    <div class="row ">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row ">
                <div class="card-img-left d-none d-md-flex">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center"><strong>Login</strong></h5>
                    <form class="form-signin" method="POST" action="login">
                        <div class="form-label-group">
                            <label for="email"><strong>E-Mail</strong></label>
                            <input id="email" type="email"
                                   class="text-center form-control "
                                   name="email"
                                   value="" required autocomplete="email" autofocus
                                   placeholder="E-Mail Address">
                        </div>
                        <label for="password"><strong>Password</strong></label>
                        <div class="form-label-group">
                            <input id="password" type="password"
                                   class="text-center form-control"
                                   name="password"
                                   required autocomplete="current-password" placeholder="Password">

                        </div>
                        <hr>
                        <div class="login-actions">
                        <div class="d-inline-block ">
                        <input class="form-check-input ml-2" type="checkbox" name="remember"
                               id="remember">

                        <label class="form-check-label ml-4" for="remember">Remenber</label>
                        </div>
                        <a class="float-right d-block" href="/"> Forgot password?</a>
                        </div>

                        <a class="d-block inlog-btn" href="/guides"><button type="submit" class="prim-btn "> Inloggen
                        </button></a>
                        <div class="signup">
                        <a class="text-center d-block" href="/register">Click here to Sign Up </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
