
<%- include('../layout/nav'); -%>
<body>
<div class="container">
    <div class="container-inner">

    <h1>Welcome <%= userObject.name %></h1>
        <br>
    <div class="card">
        <div class="card-title card-header">
            <h2>Ik heb een voorwerp gevonden </h2>
        </div>
        <div class="card-body">
            <form method="post" action="">
                <label>Wat is het voorwerp</label>
                <input id="object" type="text"
                       class="text-center form-control "
                       name="object"
                       value="" required  autofocus
                       placeholder="Welke voorwerp heb je gevonden">
                <label>Gevonden op traject?</label>
                <input id="place" type="text"
                       class="text-center form-control "
                       name="place"
                       value="" required  autofocus
                       placeholder="Op welke traject is het voorwerp gevonden">
                <label>Waneer is het voorwerp gevonden?</label>
                <input id="date" type="date"
                       class="text-center form-control "
                       name="date"
                       value="" required  autofocus
                       placeholder="Op welke datum heb je het voorwerp gevonden">
                <label>Kenmerken van het voorwerp</label>
                <input id="description" type="text"
                       class="text-center form-control "
                       name="description"
                       value="" required  autofocus
                       placeholder="Welke voorwerp heb je gevonden">
                <br>
                <button  class="btn" type="submit">Geef het voorwerp op</button>
            </form>
        </div>
    </div>
        <div id="c2a">
            <h2>Bent u zelf iets verloren?</h2>
            <div class="btn c2a-button d-block">
                <a href="index.php?do=contact">Vind het hier</a>
            </div>
        </div>
    </div>
</div>
</body>
<%- include('../layout/footer'); -%>
