<%- include('../layout/nav'); -%>


<body>
<div class="container">
    <div class="container-inner">
        <h1>Dit is een lijst met alle gevonden voorwerpen</h1>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Voorwerp</th>
                <th scope="col">Traject</th>
                <th scope="col">Datum</th>
                <th scope="col">Beschrijving</th>
                <th scope="col"></th>

            </tr>
            </thead>
            <% lost_items.forEach(lost_items => { %>
            <tbody>
            <tr>
                <th scope="row"> <%= lost_items.id %></th>
                <td><%= lost_items.object %></td>
                <td><%= lost_items.place %></td>
                <td><%= moment(lost_items.date).format(' DD | MM | YYYY'); %></td>
                <td><%= lost_items.description%></td>
                <td><form method="post" action="/voorwerpen/<%= lost_items.id %>">
                        <input type="hidden" value="<%= lost_items.id %>">
                        <a><button class="btn" id="<%= lost_items.id %><" >Dit is van mij</button></a>
                    </form>
                </td>
            </tr>
            </tbody>
            <% });%>
        </table>

    </div>
</div>
</body>
<%- include('../layout/footer'); -%>
