@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
  --primary-color: #000027;
  --primary-hover-color: #000046;
  --bg-color: #333;
  --box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.7);
}

/*---- general styling ----*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: var(--primary-color);
  background: #f2f2f2f2;
}



ul {
  list-style: none;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
  text-decoration: none;
}

h1{
  font-family: 'Poppins',  sans-serif;
  font-weight: bold;
}

hr{
  margin-top: 30px;
  margin-bottom: 20px;
}

.container {
   padding: 2rem 4rem;
   margin: auto;
   overflow: hidden;
 }

.container-inner{
  margin-top: 100px;
}

.error {
  padding: 5px;
  border: #777 dotted 1px;
  margin-bottom: 15px;
}

/*---- Header ----*/
header{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  background: #ffc917;
  box-shadow: inset 0 -0.125rem 0 #ffb519;
  color: #003082;
}


header nav ul {
  display: inline-flex;
  margin-top: auto;
  margin-bottom: auto;

}

header nav li {
  margin: 0 1rem;
}

.goBack {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 30px;
}

/*---- Buttons ----*/
.second-nav a{
  background: #ffc917;
  box-shadow: inset 0 -0.125rem 0 #ffb519;
  color: #000027;
}

.nav-btn{
  background: transparent;
  color: #000027;
  padding: 0.6rem 1rem;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {color: #000027;}

.dropdown-content a:hover {background-color: #003082; color: white}

.dropdown:hover .dropdown-content {display: block;}


.btn {
  color: #003082;
  padding: 0.6rem;
  border: 2px solid #003082;
  transition: all 0.7s;
}

.btn:hover {
  background: #003082;
  border: 2px solid #003082;
  color: white;
}

.prim-btn{
  color: white;
  padding: 0.6rem 2rem;
  background: var(--primary-color);
  border-radius: 1rem;
  border: 2px solid var(--primary-hover-color);
  transition: all 0.7s;
  outline: none;
}

.prim-btn:hover {
  background: var(--primary-hover-color);
  border: 2px solid var(--primary-hover-color);
  color: white;
}


/*--- Banner ----*/
#banner {
  background-image: url("../img/NS-en-Wortell.jpg");
  background-size: cover;
  max-width: 100%;
  height: 745px;
  color: rgba(255, 255, 255, 0.75);

}


.banner-inner{
  text-align: center;
  display: block;
  margin: 300px auto;
}

.banner-inner h1{
  font-size: 42px;
  line-height: 60px;
  margin-bottom: 30px;
}

.banner-inner a{
  padding: 10px 20px;
  font-size: 22px;
}


/* Form */
.form-wrap {
  margin: auto;
  background: var(--bg-color);
  color: #fff;
  padding: 1rem 3rem 3rem;
  margin-top: 3rem;
  border-bottom: 4px solid var(--primary-color);
  box-shadow: var(--box-shadow);
}

.form-wrap.reg-form,
.form-wrap.login-form {
  width: 60%;
}

.form-wrap h1,
.form-wrap h2,
.form-wrap p {
  text-align: center;
}

.form-wrap .btn {
  margin-top: 1rem;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-box {
  padding: 0.5rem;
  font-size: 18px;
  width: 100%;
  margin-bottom: 1.2rem;
}

/*footer*/
#footer {
  padding: 1em 0 1em 0;
  background: #003082;
  text-align: center;
}

#footer .copyright {
  color: white;
  font-size: 0.9em;
  margin-bottom: auto;
  margin-top: auto;
  padding: 0;
}

@media screen and (max-width: 736px) {

  #footer {
    padding: 3em 0 1em 0;
  }

}

/*---- Home page ----*/

#paralax {
  background-image: url("../img/pic13.jpg");
  height: 40vh;
  max-width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 25px 0;
}

/*---- inlog page ----*/

.auth-img{
  background: #003082;
  object-fit: cover;
  max-width: 100%;
}

.card-signin {
  background-color: #ffffff;
  -webkit-box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.1);
  width: 50%;
  margin: auto auto;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}



.card-signin .card-body {
  padding: 2rem;
  width: 30%;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}


.inlog-btn button{
  width: 100%
}

.login-actions{
  margin-bottom: 20px;
}

.login-actions a{
  color: #000046;
}

.signup a{
  margin-top: 20px;
  color: #000027;
}

/*---- c2a ----*/
#c2a {
  margin-top: 50px;
  background-color: #ffc917;
  padding: 80px 0px;
  box-shadow: inset 0 -0.125rem 0 #ffb519;
}

#c2a h2 {
  color: #003082;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 60px;
}

#c2a .c2a-button {
  width: 20%;
  text-align: center;
  color: #003082;
  padding: 0.6rem;
  border: 2px solid #003082;
  transition: all 0.7s;
}


#c2a .c2a-button {
  background: #003082;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0.6rem;
  border: 2px solid #003082;
  transition: all 0.7s;
}

#c2a a {
  color: #ffffff;
  padding: 12px 40px;
  border-radius: 50px;
}

