<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--    Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--    stylesheet   -->
    <link rel="stylesheet" href="/css/style.css">

    <title>Express</title>
</head>
<header class="inner">
    <img src="img/NS-logo.png" style="width: 8%">
<nav>

    <ul>
        <li>
            <a href="/login"> <button class="btn "> Inloggen</button></a>
        </li>
    </ul>
</nav>
</header>