<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--    Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--    stylesheet   -->
    <link rel="stylesheet" href="/css/style.css">

    <title>Express</title>
</head>
<header class="inner dashboard-nav">
    <img src="img/NS-logo.png" style="width: 8%">
    <nav class="">
        <ul>
            <li>
                <div class="dropdown">
                    <button class="nav-btn dropbtn"><%= userObject.name %>  &#8744 </button>
                    <div class="dropdown-content">
                    <a href="/userdashboard">Dashboard</a>
                    <a href="/voorwerpen">Gevonden voorwerpen</a>
                    <a href="/instellingen">Gevonden voorwerpen</a>
                    <a href="/uitloggen">Uitloggen</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</header>