
<%- include('../layout/nav-home'); -%>

<body >

<section id="banner" class="d-flex">
    <div class="banner-inner">
        <h1><strong>Dit is NS gevonde voorwerpen. <br> Hier kan je al je voorwerpen terug vinden</strong> </h1>
        <div class="actions">
            <a href="/register" ><button class="btn">Start your adventure now</button></a>
        </div>
    </div>
</section>

</body>
<%- include('../layout/footer'); -%>
