<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>express</title>

    <!--    Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--    stylesheet   -->
    <link rel="stylesheet" href="/css/style.css">

</head>

    <%- include('../layout/nav'); -%>

<body>
<div class="container">
<h1>hallo</h1>
<img src="img/showcase.jpg" style="width: 20%">
    <form class="form-wrap" action="/" method="post" role="form">
    <input placeholder="title" name="title">
    <input placeholder="description" type="text" name="description">
    <input placeholder="datum" type="date" name="date">
        <button type="submit">save</button>

    </form>
</div>
</body>
</html>